* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Geneva", sans-serif;
}

input {
  outline: none;
}

#sfondo {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

#rect-green {
  width: 100%;
  height: 15vh;
  background-color: #568072;
}

#rect-grey {
  width: 100%;
  height: 85vh;
  background-color: #d0d1c7;
}

#container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 10;
}

.container {
  width: 80vw;
  height: 90%;
  background-color: #568072;
  display: flex;
  z-index: 10;
}

#container .box.sx {
  width: 30%;
  background: #e9e9e9;
  border-right: 1px solid gray;
}

.box.dx header,
.box.sx header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #e9e9e9;
}

.immg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.immg > img {
  max-width: 100%;
  height: auto;
}

.box-icon {
  width: 50%;
  line-height: 40px;
  color: grey;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.box-icon > i {
  padding-right: 10px;
}

.box-notification {
  display: flex;
  padding: 10px;
  background-color: #a8d9fa;
}

.box-notification > .bell-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}

.bell-icon > i.fas.fa-bell-slash:before {
  display: block;
  width: 50px;
  text-align: center;
  line-height: 50px;
  height: 30px;
  color: #a8d9fa;
}

.box-txt-notification {
  width: 70%;
  padding-left: 10px;
  font-size: 14px;
}

.box-txt-notification > a {
  color: #000;
  font-size: 11.5px;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.input-box > input {
  height: 22px;
  width: 80%;
  border-top: 0;
  border-bottom: 0;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.search {
  width: 10%;
  height: 22px;
  background-color: #fff;
  text-align: center;
  line-height: 22px;
  border-right: 1px solid gray;
}

.search > i {
  color: grey;
  font-size: 19px;
}

.container-contact {
  width: 100%;
  height: calc(100% - 169px);
  overflow-y: scroll;
}

.box-mex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
  border-bottom: 1px solid gray;
}

.active {
  background-color: #d8d8d8;
}

.box-mex:hover {
  background-color: #d8d8d8;
}

.box-content-mex {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.box_t-o {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.box_t-o > .orario {
  color: gray;
  font-size: 11px;
}

.box-content-mex > .testo {
  font-size: 12px;
  color: gray;
}

#container .box.dx {
  width: 70%;
}

.dinamic-tab {
  width: 100%;
  height: calc(100% - 60px);
  display: none;
}

.dinamic-tab.selected {
  display: block;
}

.box.dx .chat {
  width: 100%;
  height: 100%;
  background-image: url("imgs/msg-background.jpg");
}

.box.dx .wrapper {
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: scroll;
  padding: 4px;
}

.chat .box-riga {
  width: 100%;
  padding: 2px 14px;
  position: relative;
}

.mex-sent {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 8px;
  border-radius: 5px;
  border: .5px solid lightgray;
  background-color: #fff;
  overflow-wrap: break-word; 
}

.mex-received {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: 65%;
  padding: 8px;
  border-radius: 5px;
  border: .5px solid lightgray;
  background-color: #e0f8bd;
  overflow-wrap: break-word; 
  position: relative;
}

.box-relative-opt {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.fa-check {
  opacity: 0;
  align-self: flex-end;
  margin-bottom: 5px;
  color: grey;
}

.mex-sent:hover .fa-check,
.mex-received:hover .fa-check {
  opacity: 1;
}

.txt-mex {
  font-size: 12px;
}

.time-mex {
  font-size: 10px;
  color: gray;
  display: block;
  text-align: right;
  width: 100%;
}

.box-option-msg {
  width: 150px;
  text-align: center;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 2px;
  color: #fff;
  z-index: 10;
  display: none;
  position: absolute;
  right: 20px;
  top: 50px;;
}

.opt.delete:hover,
.opt.info:hover {
  background-color: #fff;
  color: rgba(50, 50, 50, 0.5);
}

.opt {
  width: 100%;
  height: 50%;
  padding: 10px;
}

.opt.delete {
  border-bottom: 1px solid lightgray;
}

.show {
  display: block;
}

.box.dx footer {
  width: 100%;
  height: 60px;
  background-color: #e9e9e9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-chat {
  width: 70%;
  height: 100%;
  line-height: 63px;
}

.input-chat > .input-txt {
  width: 100%;
  height: 45px;;
  line-height: 55px;
  border-radius: 10px;
  border: 0;
}

[placeholder] {
  font-size: 20px;
  padding-left: 10px;
}

.box.dx .emoji {
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 56px;
}

.box.dx .emoji i {
  color: gray;
}

.hidden {
  display: none;
}

.box-r_clk {
  width: 150px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}
